bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea/
Traincrew_MultiATS_Server/appsettings.Development.json
/.vs/Traincrew_MultiATS_Server
/.vs/Traincrew_MultiATS_Server/DesignTimeBuild
/.vs/Traincrew_MultiATS_Server/DesignTimeBuild/.dtbcache.v2
/.vs/Traincrew_MultiATS_Server/FileContentIndex
/.vs/Traincrew_MultiATS_Server/FileContentIndex/2df26ad8-d480-402f-a77e-65936a6a954b.vsidx
/.vs/Traincrew_MultiATS_Server/FileContentIndex/753de4b8-40fe-4953-b7fd-bb5c18d5cb0d.vsidx
/.vs/Traincrew_MultiATS_Server/v17
/.vs/Traincrew_MultiATS_Server/v17/.futdcache.v2
/.vs/Traincrew_MultiATS_Server/v17/.suo
/.vs/Traincrew_MultiATS_Server/v17/.wsuo
/.vs/Traincrew_MultiATS_Server/v17/DocumentLayout.backup.json
/.vs/Traincrew_MultiATS_Server/v17/DocumentLayout.json
/Traincrew_MultiATS_Server
/Traincrew_MultiATS_Server/Traincrew_MultiATS_Server.csproj.user
/.gitignore
data/
Migrations/
.DS_Store