name: InspectCode

on:
  push:
    branches:
      - main
      - feature/document
  pull_request:
    types: [opened, reopened]
  workflow_dispatch:

jobs:
  inspect-code:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4.2.2
      - name: Setup dotnet 8.0.x
        uses: actions/setup-dotnet@v4.3.1
        with:
          dotnet-version: '8.0.x'
      - name: Create global.json for .NET 8.0.x
        run: |
          cat <<EOF > ./global.json
          {
            "sdk": {
              "version": "8.0.0",
              "rollForward": "latestFeature"
            }
          }
          EOF
      - name: Restore dependencies
        run: dotnet restore
      - name: Build solution
        run: dotnet build --no-restore --configuration Release
      - name: Annotate
        # You may pin to the exact commit or the version.
        uses: JetBrains/ReSharper-InspectCode@v0.11
        with:
          solution: ./Traincrew_MultiATS_Server.sln
          tool-version: 2025.2.3
          dotnetcoresdk: 8.0.x
          no-build: true

    permissions:
      security-events: write
